:root {
  --font-sans: "Overused Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;

  --system-font: var(--font-sans);

  --white: 255, 255, 255;
  --grey: 97, 97, 97;
  --black: 0, 0, 0;

  --red: 255, 59, 59;

  --easing: cubic-bezier(0.77,0,0.18,1);
}

@font-face {
  font-family: "Overused Grotesk";
  src:
    url("../fonts/OverusedGrotesk-VF.woff2") format("woff2 supports variations"),
    url("../fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
  font-weight: 300 900;
}

@keyframes logo-letter {
  0% {
    transform: scale(1.15, 1);
    font-variation-settings: "slnt" -5, "wght" 300;
  }
  50% {
    transform: scale(1.15, 1) rotate3d(0, 1, 0, 360deg);
    font-variation-settings: "slnt" 10, "wght" 400;
  }
  100% {
    transform: scale(1.15, 1) rotate3d(0, 1, 0, 720deg);
    font-variation-settings: "slnt" -5, "wght" 300;
  }
}

body {
  font-family: var(--system-font);
  background: black;
  margin: 0;

  #term {
    font-family: var(--font-mono)!important;
  }
}

.neko-button {
  font-family: var(--system-font);

  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(var(--black), 0.5);
  color: #fff;
  text-decoration: none;
  transition: background-color .2s, color .2s, border-color .2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  &:focus {
    outline-offset: 2px;
  }
}

.neko-input {
  font-family: var(--system-font);

  display: inline-block;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px;
  background-color: rgba(var(--black), 0.5);
  color: #fff;
  text-decoration: none;
  transition: background-color .2s, color .2s, border-color .2s;
  cursor: pointer;

  &[type="password"] {
    font-family: var(--font-mono);
  }

  &.incorrect {
    border-color: rgba(var(--red), 0.5);

    &:hover {
      border-color: rgba(var(--red), 0.7);
    }

    &:focus {
      outline: 1px solid rgba(var(--red));
    }
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:focus {
    outline-offset: 2px;
    outline: 1px solid rgba(255, 255, 255);
  }
}

.neko-screen {
  animation: showScreen 1s var(--easing) forwards;

  &.blur {
    backdrop-filter: blur(5px);
  }

  &.remove {
    pointer-events: none;
    animation: hideScreen 1s var(--easing) forwards;
  }
}

@keyframes showScreen {
  0% {
    opacity: 0;
    transform: scale(0.9);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

@keyframes hideScreen {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.neko-taskbar {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 1px;
  position: relative;
  z-index: 99999;

  .taskbar-section {
    display: flex;
    justify-content: center;
    width: max-content;

    &.left {
      justify-content: flex-start;
      flex: 1;
    }
    
    &.right {
      justify-content: flex-end;
      flex: 1;
    }
  }
}

.neko-taskbar-item {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  transition: background .1s;

  background: transparent;
  border: 1px solid transparent;

  &:hover {
    background: rgba(var(--white), 0.1);
    border: 1px solid rgba(var(--white), 0.15);
  }

  &:active {
    background: rgba(var(--white), 0.15);
    border: 1px solid rgba(var(--white), 0.2);
  }

  & > .material-symbols-rounded {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 21, 'wght' 500, 'FILL' 1;
  }

  & > img {
    height: 20px;
    width: 20px;

  }
}

.neko-taskbar-spacer {
  flex: 1;
}

.neko-taskbar-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  white-space: pre;
}

.neko-taskbar-apps {
  display: flex;
  color: white;
  gap: 1px;
}

.neko-desktop {
  flex: 1;
  width: 100%;
  height: 100;
  display: flex;
  position: relative;
  overflow: hidden;
}

.neko-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;

  background: rgba(var(--black), 0.5);
  border: 1px solid rgba(var(--white), 0.25);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(60px);

  transition: backdrop-filter .2s, background .2s, border-color .2s, box-shadow .2s;

  .neko-window-title {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    height: 24px;
    background: rgba(var(--black), 0.15);
    color: rgb(var(--grey));
    user-select: none;

    transition: color .2s;

    .neko-window-title-icon {
      margin-right: 0.5rem;
    }

    .neko-window-title-text {
      flex: 1;
    }

    .neko-window-title-buttons {
      display: flex;
      gap: 0.5rem;
    }
  }

  &:focus {
    background: rgba(var(--black), 0.3);
    backdrop-filter: blur(40px);

    .neko-window-title {
      color: rgb(var(--white));
    }
  }
}

.neko-resize-corner {
  position: absolute;
  width: 10px;
  height: 10px;
  
  &.top {
    top: 0;
    bottom: auto;
    width: 100%;
    cursor: n-resize;
    z-index: 1;
  }

  &.left {
    left: 0;
    right: auto;
    height: 100%;
    cursor: w-resize;
    z-index: 1;
  }

  &.bottom {
    bottom: 0;
    top: auto;
    width: 100%;
    cursor: s-resize;
    z-index: 1;
  }

  &.right {
    right: 0;
    left: auto;
    height: 100%;
    cursor: e-resize;
    z-index: 1;
  }

  &.top-left {
    top: 0;
    left: 0;
    cursor: nw-resize;
    z-index: 2;
  }

  &.top-right {
    top: 0;
    right: 0;
    cursor: ne-resize;
    z-index: 2;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    z-index: 2;
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
    cursor: se-resize;
    z-index: 2;
  }
}